a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 75px;
    height: 75px;
    margin-right: 35px;
    padding: 14px;
}

.navbar {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.navbar-title {
    font-family: Roboto Condensed;
    font-size: 32px;
    font-weight: bold;
    align-self: center;
}